#btn-download-map {
  position: absolute;
  bottom: 50px;
  z-index: 1000;
  right: 20px;
}

#btn-download-map-up {
  position: absolute;
  bottom: 180px;
  z-index: 1000;
  right: 20px;
}

#btn-rain>.dropdown>#btn-download-map {
  position: absolute;
  bottom: 50px;
  z-index: 1000;
  right: 120px !important	;

}